@charset "utf-8";
/* CSS Document */
body{
    margin: 0px;
    margin-top: -16px;
}
li{
    list-style: none;
}
.daohang{
    width: 1920px;
    height: 120px;
    text-align: center;
    background-color: black;
}
.logo{
    margin-right: 50%;
}
.texts{
    margin-left: 38%;
    margin-top: -5%;
    font-size: 20px;
}
.text{
    float: left;
    margin-left: 4%;
}
.huandengpian{
    height: 360px;
    width: 1100px;
    background-color:#ffffff;
    margin-left:21.5%;
    margin-top: 4%;
}
.xinwen li{
    float: left;
    padding: 0px 20px;
}
.xinwen{
    margin-left: 36.5%;
    font-size: 20px;
}
.biaoti{
    margin-left: 21.5%;
    margin-top: 20px;
}
h2{
    margin-left: 21.5px;
    margin-top: -30px;
}
.neirong{
    width: 1100px;
    height: 250px;
    background-color: #ffffff;
    margin-left:20%;
    margin-top: 15px;
}
.stsy{
    margin-top:10px;
    margin-left: 40%;
}
.banquan{
    text-align: center;
    font-size: 18px;
    margin-top: 100px;
}
.