h1{
    width: 100%;
    text-align: center;
    font-size: 30px;
    color:#666666;
}
table.responsive{
    border: 1px solid #666666;
    width: 98%;
    margin: 0px auto;
    /*border-collapse: collapse;*/
    box-shadow: 0 0 10px 0 #808080;
}
table.responsive th,table.responsive td{
    border: 1px solid #666666;
    padding: .5em 1em;
}
table.responsive .number ,table.responsive .actions{
    text-align: center;
}
table.responsive th{
    background-color: #00FF00;
}
table.responsive td.actions a{
    text-decoration: none;
    color: goldenrod;
    padding: 0 5px;
}
@media (max-width: 480px) {
    table.responsive{
        border: none;
        box-shadow: none;
    }
   table.responsive thead{
       display: none;
   }
    table.responsive tr,table.responsive td{
        display: block;
        border: none;
        position: relative;
    }
    table.responsive tr{
        margin-bottom:1em;
        box-shadow: 0px 1px 10px 0 #000000;
    }
   table.responsive .number{
       text-align: left;
       background-color: green;
       padding-left: 28%;
   }
    table .number::before{
        content: "课程序号";
        position: absolute;
        left: .5em;
        top:.5em;
        font-weight: bold;
    }
    table.responsive .name{
        text-align: left;
        padding-left: 28%;
    }
    table .name::before{
        content: "课程名称";
        position: absolute;
        top: .5em;
        left: .5em;
        font-weight: bold;
    }
    table.responsive .actions{
        position: absolute;
        right: 0px;
        top: 0px;
    }
}